@import url('https://fonts.googleapis.com/css?family=Roboto|Slabo+27px');

/* Global styles */
body {
  /* background-image: repeating-linear-gradient(rgba(0,0,0, 0.5), rgba(200,200,200, 0.5)); */
  /* background: rgb(153,153,153); */
  /* background-image: url("../images/brick-bg-1900-230.svg"); */
  background-image: linear-gradient(to bottom, rgba(64,64,64,1), rgba(204,204,240,1));
  background-repeat: space;
  box-sizing: border-box;
  color: rgb(9,9,9);
  font-family: 'Roboto', sans-serif;
  font-size:18px;
  margin: 0;
  height: 100%;
}
 a {
   color: coral;
   text-decoration: none;
 }
 li {
   list-style: none;
 }
/* flex containers */
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flex-container__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* align-content: center; */
}
/* header container */
#header {
  background: rgb(127, 127, 127);
  overflow: hidden;
  position: fixed;
  top: 0;
  height: auto;
  width: 100%;
  z-index: 99;
}

/* header styles */
.stylist-logo {
  margin: 0.833em 0 0.125em 3em;
}
#nav-bar {
}
.nav-link {
  padding: 0px 6px;
}
/* main container */
#container {
  position: relative;
  margin: 0 auto;
  max-width: 1024px;
}
/* main sections */
.main {
  background: rgb(64,64,64);
  margin-top: 100px;
}
#hero {
  font-family: 'Slabo 27px', serif;

}
.hero-headline {
  margin: 0;
  padding-top: 1em;
}
.border-bottom {
  border-bottom: 1px solid coral;
  margin-bottom: 1em;
}
.border-top {
  border-top: 1px solid coral;

}
.hero-form__input {
  margin: 1em;
  padding: 5px 10px;
}
.hero-form__label {
  color: coral;
}
.hero-form__btn {
  background-color: coral;
  padding: .4em 2em;
  text-align: center;
}
#latest {
  padding-top: 2em;
}
.video-headline {
  text-align: center;
}
.video-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2em;
}
.featured {
  padding-top: 2em;
}
.featured-container {
  margin: 0 auto;
  width: 75%;
}
.featured-float-left {
  display: inline;
  float: left;
  padding: 1.5em;
}
.featured-container::after   {
  content: "";
  clear: both;
  display: block;
}
.featured-grid {
  dipslay: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}

 .feature-grid-img {
   max-width: 30%;
 }
/*  */
